body {
  display: block;
  height: 1000px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

header {
  margin: 30px 0px 20px 0px;
  color: #1a0841;
}
h1 {
  text-align: center;
}
.todayData {
  display: block;
  text-align: right;
}
form {
  text-align: center;

  margin-bottom: 20px;
}
.cities {
  text-align: center;
  color: #1a0841;
}
h2 {
  text-align: center;
  padding: 20px;
  color: #1a0841;
}
.forecast {
  text-align: center;
  padding: 15px;
  color: #1a0841;
}

button:hover {
  cursor: pointer;
}
.enterYourCity {
  width: 80%;
  background-color: 255, 255, 255, 0.5;
  border-radius: 4px;
  border: 0px;
}
.temperature {
  font-size: 30px;
  padding: 5px;
  color: #1a0841;
}
.submit {
  border: 0px;
  border-radius: 4px;
  color: #1a0841;
}
.fa-solid {
  font-size: 30px;
}
.farengites:hover {
  cursor: pointer;
}
.celsius:hover {
  cursor: pointer;
}
